<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Programa Asfalto Novo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="/assets/imagens/asfalto.jpg" alt="" />
  </ion-card>

  <ion-card>
    <div>
      <ion-card-content>
        Conhece algum trecho de rua do município que precisa de reparos? Basta informar
        os dados abaixo que logo enviaremos uma equipe especializada para consertar a rua.
      </ion-card-content>
    </div>
  </ion-card>
  
  <br/>
  <ion-card-content>
    <ion-fab vertical="center" horizontal="center" slot="fixed">
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-card-content>

  <div padding>
    <br/>
    <ion-button  size="medium" color="primary" expand="block" shape="round" (click)="salvar()">Solicitar</ion-button>
  </div>

</ion-content>
