<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-label  position="floating">Solicitação de Reparo Asfático</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let asfalto of listaAsfalto | async">
      <ion-label>{{ asfalto.rua }}, {{ asfalto.numero }}<br/>{{ asfalto.bairro }}</ion-label>
      
      <ion-button color="danger" shape="round" (click)="excluir(asfalto.key)"><ion-icon name="trash"></ion-icon></ion-button>
      <ion-button color="danger" shape="round" (click)="alterar(asfalto)"><ion-icon name="create"></ion-icon></ion-button>

    </ion-item>
  </ion-list>

  <div padding>
    <br/>
  </div>

</ion-content>
