<!-- Vamos extender o template base -->
{% extends 'base.html' %}

{% block header_titulo %}
<div class="intro-lead-in">Descrição do bloco!</div>

<div class="intro-heading text-uppercase">CONTATO</div>
<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">xD</a>
{% endblock %}

<!-- Vamos reescrever esse bloco -->

{% block sobre %}
<!--Este bloco está vazio-->
{% endblock %}

{% block team %}
<!--Este bloco está vazio-->
{% endblock %}

{% block portfolio %}
<!--Este bloco está vazio-->
{% endblock %}

{% block servicos %}
<!--Este bloco está vazio-->
{% endblock %}
