{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">

    <meta charset="utf-8">
    <title>DIEGO NICÁCIO</title>

  </head>
  <body>

    <div class="container mt-3">

      <div class="row border bg-light rounded  p-5">

        <div class="col-lg-8">
          <h3>DIEGO NICÁCIO</h3>
          <h1 class="font-weight-bold">ALVES</h1>
        </div>

        <div class="col-lg text-right">
          Rua Brasil nº 001 <i class='fas fa-home' style='font-size:20px;color:red'></i>
          99919-1116 <i class='fas fa-phone' style='font-size:20px;color:red'></i>
          nicacio16@hotmail.com <i class="material-icons" style="font-size:20px;color:red">local_post_office</i>
          <br/>
          DIEGO NICÁCIO<i class="fa fa-linkedin-square" style="font-size:20px;color:red"></i>
        </div>

      </div>

    </div>

  </body>
</html>
