<!-- Vamos extender o template base -->
{% extends 'base.html' %}

{% load static %}

{% block main %}
<!-- Bloco Principal -->

<div class="container py-5">

    <div class="row mt-5">
        <div class="col-lg">

            <h3 class="border-bottom">
                Lista de Cidades

                <a href="{% url 'cadastrar-cidade' %}" class="float-right btn btn-primary btn-sm">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Nova Cidade
                </a>
            </h3>

        </div>
    </div>

    <div class="row">
        <div class="col-lg mt-4">

            <table class="table table-striped">

                <thead>
                    <tr>
                        <th>Cidade</th>
                        <th>Estado</th>                        
                        <th>Opções</th>
                    </tr>
                </thead>

                <tbody>

                    {% for obj in object_list %}
                    <tr>
                        <td>{{ obj.nome }}</td>
                        <td>{{ obj.estado }}</td>
                        <td>
                            <a href="{% url 'editar-cidade' obj.pk %}" class="btn btn-outline-warning btn-sm">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </a>

                            <a href="{% url 'excluir-cidade' obj.pk %}" class="btn btn-outline-danger btn-sm">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="100%">Nenhuma cidade cadastrada</td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>

        </div>
    </div>

</div>

{% endblock %}
