{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">

    <meta charset="utf-8">
    <title>Diego Nicácio</title>

  </head>
  <body>

    <div class="container mt-3">

      <div class="row border bg-light rounded  p-5">

        <div class="col-lg-8">
          <h3>DIEGO</h3>
          <h1 class="font-weight-bold">NICÁCIO</h1>
        </div>

        <div class="col-lg text-right">
          Lista de Dados
          <i class="fa fa-linkedin-square" style="font-size:20px;color:red"></i>
        </div>

      </div>

    </div>

  </body>
</html>
