<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" >     
      <ion-card-content>

          <ion-row size="6" size-lg offset="3">
    <ion-col>
      <a href="salvar-ouvidoria">
        <img src="/assets/icon/ouvidoria.jpg" >
      </a>
    </ion-col>
    <ion-col>
    <a href="salvar-guarda-municipal">
        <img src="/assets/icon/guarda.jpg">
    </a>
    </ion-col>
    <ion-col>
      <a href="salvar-descarte">
        <img src="/assets/icon/coleta.jpg" href="coleta">
      </a>        
    </ion-col>
  </ion-row>

    <ion-row size="6" size-lg offset="3">
    <ion-col>
      <a href="salvar-asfalto-novo">
        <img src="/assets/icon/asfalto.jpg">
      </a>
    </ion-col>
    <ion-col>
      <a href="salvar-iluminacao-publica">
        <img src="/assets/icon/luz.jpg">
      </a>
    </ion-col>
    <ion-col>
      <a href="salvar-meio-ambiente">
        <img src="/assets/icon/meioambiente.jpg">
      </a>        
    </ion-col>
  </ion-row>

    <ion-row size="6" size-lg offset="3">
    <ion-col>
      <a href="salvar-iptu">
        <img src="/assets/icon/iptu.jpg">
      </a>        
    </ion-col>
    <ion-col>
      <a href="salvar-servico-social">
        <img src="/assets/icon/servicosocial.jpg">
      </a>        
    </ion-col>
    <ion-col>
      <a href="salvar-creche">
        <img src="/assets/icon/creche.jpg">
      </a>        
    </ion-col>
  </ion-row>

      </ion-card-content>
    </ion-card>

</ion-content>
